<!-- contact.html -->
<div class="jumbotron text-center">
    <h1>To Do List</h1>
</div>
<div id="toDoTable">
  <table>
    <thead>
      <th>Tasks</th>
    </thead>
    <tbody>
      <tr ng-repeat="thing in task">
        <td><input type="checkbox"
               ng-model="string"
               [name="string"]
               [ng-true-value="expression"]
               [ng-false-value="expression"]
               [ng-change="string"]>
               {{thing.toDo}}</td>
      </tr>
      <tr>
        <td><input id="textInp" ng-model="addToDo" type="text" placeholder=""></input></td>
        <td><button ng-click="addTask()">Add Task</button></td>
      </tr>
  </table>
</div>
